# Today concepts
- **loops**
- **functions**
- **data structures**

In [1]:
for i in range(10,2,-1): print(i)

10
9
8
7
6
5
4
3

## while loop
- condition based itertion
- developer has to initiate the iterator first

In [3]:
sum=0
i=0
while i<10:
    sum+=i
    i+=1
print(sum)

45

In [4]:
str='revathipathi'
for ch in str: print(ch)

r
e
v
a
t
h
i
p
a
t
h
i

In [7]:
num=input()
sum=0
for digit in num: sum+=int(digit)
print(sum)

78650
26

In [10]:
n,m=20,10
while(n>10):
    print(n,end=' ')
    n-=1

20 19 18 17 16 15 14 13 12 11

# Nested loops
- for in for 
- while in while

In [16]:
for i in range(2):
    for j in range(2):
        print(j,end=' ')

0 1 0 0 1 1 0 0 1 0 0 1 1 1

In [19]:
for row in range(5,-1,-1):
    for col in range(0,row+1):
        print(row,end=' ')
    print()

5 5 5 5 5 5
4 4 4 4 4
3 3 3 3
2 2 2
1 1
0

In [20]:
n=int(input())
for i in range(1,n+1):
    if n%i is 0: print(i,end=' ')

6
1 2 3 6

In [25]:
for i in range(1,5):
    for j in range(1,i+1): print('*',end='-')
    print()

*-
*-*-
*-*-*-
*-*-*-*-

In [30]:
#prime or not
count=0
num=int(input())
for i in range(1,num+1):
    if num%i is 0: count+=1
if count is 2: print('prime')
else: print('Composite')

37
prime
2

In [6]:
n=int(input())
i=2
while i<n:
    count=0
    prime=True
    j=1
    while j<(i//2+1):
        if i%j is 0: count+=1
        if count >1:
            prime=False
            break
        j+=1
    if prime: print(i)
    i+=1

40
2
3
5
7
11
13
17
19
23
29
31
37

# strings
- **data type**
- **Immutable**
- **Indexing**
    - positive indexing
        - left to right
    - negative indexing
        - right to left
- **string slicing**
    - cut into pieces
    - extracting subpart of entire string

In [8]:
st='hello'
st[:] # entire string

'hello'

In [10]:
st='hello'
st[::-1] #reverse order

'olleh'

In [11]:
st='hello'
st[:3]

'hel'

In [12]:
st='hello'
st[3:]

'lo'

In [14]:
st='hello'
st[-1:-6:-1]

'olleh'

## string methods
- method needs atleast one argument
- methods can only applied on strings

In [15]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
clg=input()
print("i am from "+clg)
clg.islower()
clg.isupper()
clg.isalpha()
clg.startswith('r')
clg.endswith('h')
clg.count('r')

Rvr anD Jc
i am from Rvr anD Jc

1

In [18]:
clg

'Rvr anD Jc'

In [19]:
clg.swapcase()

'rVR ANd jC'

In [24]:
clg.upper()

'RVR AN DJC VO'

In [25]:
clg

'rvr an djc vo'

In [28]:
clg='hello'
clg=clg.upper()
print(clg)

HELLO

In [29]:
clg

'HELLO'

In [36]:
clg.index('L')

2

In [37]:
st='hEllo'
oval='aeiouAEIOU'
for ch in st:
    if ch in oval:
        if ch.isupper(): print('Upper case oval')
        else: print('Lower case oval')
    else:
        if ch.isupper(): print('Upper case consonant')
        else: print('Lower case consonant')

Lower case consonant
Upper case oval
Lower case consonant
Lower case consonant
Lower case oval

In [39]:
st=input()
sum=0
for ch in st[1::4]:
    sum+=int(ch)
print(sum)

987 654 321 107 843 765
25

In [40]:
st='987 654 321 107 843 765'
nums=st.split()
for num in nums:
    sum+=num[1]
print(nums)

['987', '654', '321', '107', '843', '765']

# Function 
- A group of statements to perform a particular a task
- we can define a functionsin four ways
- **Two types**
    - predefined
        - already defined by the developers
    - user-defined
        - defined by the user for a particular task

In [37]:
def add(x,y):
    print(x+y)
add(5,7)

12

In [6]:
def large(a,b):
    return a if a>=b else b
large(6,8)

8

In [15]:
def solve():
    s=input("Enter a string: ")
    ch = input('Enter a character to find frequency: ')
    print("frequency of ",ch,'is',s.count(ch))
solve()

Enter a string: hell
Enter a character to find frequency: l
frequency of  l is 2

In [13]:
def fact(n):
    return 1 if n is 1 or n is 0 else n*fact(n-1)

n=int(input())
fact(n)

5

120

In [30]:
def isPrime(n):
    if n is 0 or n is 1: return False
    count=0
    for i in range(2,n//2+1):
        if n%i is 0: count+=1
    return count is 0
def prime_range(x,y):
    for i in range(x,y+1):
        if isPrime(i): print(i,end=' ')
#print('Prime numbers ')
x,y=int(input("Prime numbers\nFrom: ")),int(input("To: "))
prime_range(x,y)

Prime numbers
From: 456
To: 543
457 461 463 467 479 487 491 499 503 509 521 523 541

In [31]:
isPrime(2)

True

In [36]:
for i in range(20): print((i,'prime') if isPrime(i) else (i,'not prime'))

(0, 'not prime')
(1, 'not prime')
(2, 'prime')
(3, 'prime')
(4, 'not prime')
(5, 'prime')
(6, 'not prime')
(7, 'prime')
(8, 'not prime')
(9, 'not prime')
(10, 'not prime')
(11, 'prime')
(12, 'not prime')
(13, 'prime')
(14, 'not prime')
(15, 'not prime')
(16, 'not prime')
(17, 'prime')
(18, 'not prime')
(19, 'prime')

# data structures
- tuples
- dictionaries
- list
    - methods
        - count()
        - index()
        - append()
        - extend()

In [39]:
#tuple
t=(23,'apple',3.5,'j')
for item in t: print(item)
print(t)

23
apple
3.5
j
(23, 'apple', 3.5, 'j')

In [50]:
l=[1,3,'ge',2,4,4,3]
l.index('ge')

2

In [51]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
#home work
#i/p aaabbbccc
#o/p a=2b=3
st=input()
finish=''
f=[]
for ch in st:
    if ch not in finish:
        print(ch,st.count(ch))
        finish+=ch

aaabbbcc
a 3
b 3
c 2

In [12]:
l=[2,4,5]
l2=[3,5,6]
l2=l.copy()

In [13]:
print(l2)

[2, 4, 5]

In [14]:
l=[3,5,1,8,4]
l.sort()

In [15]:
l.extend('hello guru prema kosame'.split())

In [11]:
#prepare unique elements
# find second max element in list
# Remove duplicate elements in list
#list of perfect numbers in a range

# sets
- Undefined collection of objects
- represented by {}

In [18]:
s={11,1,2,2,2,22,333,33,333}
s

{1, 2, 11, 22, 33, 333}

In [17]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [19]:
s2={4,5,5,4,6}
s.update(s2)

In [20]:
s

{1, 2, 4, 5, 6, 11, 22, 33, 333}

In [36]:
l=[6,7,9,9,4,6]
l.remove(9)

In [37]:
l

[6, 7, 9, 4, 6]

In [1]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [2]:
t=(6,8,9)
t.add(0)

AttributeError: 'tuple' object has no attribute 'add'

In [12]:
n = int(input())
t = set(map(int,input().split()))

3
2 4 5

In [13]:
t

{2, 4, 5}